*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
   /*  background-color: #131313; */
     background-image: url('./img/background_v3.png'); 
     background-size: cover;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
   /*  z-index: 2; */
}

#myCanvas{
    position:absolute;
    z-index: 1;
}
.reg{
    position:absolute;
    top: 800px;
    left: 800px;
    z-index: 1;
}

.cap{
    position:absolute;
    top: 570px;
    left: 800px;
    z-index: 2;
}

