*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-image: url('./img/ui.png');
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
}

#myCanvas{
    position:absolute;
    z-index: 1;
}
